body {
  background-color: #222;
}

.bar {
    background: #121212;
}

.loader {
    background-color: #121212;
}

.loader-box {
    background: #121212;
    border: 1px solid #03dac6;
    color: #03dac6;
}

.progress {
    background: #03dac6;
    color: #fff;
}

* {
  font-family: Anton, sans-serif;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
}

.gametitle {
    font-size: 128px;
    text-align: center;
    color: #e17055;
    text-transform: uppercase;
    /* text-shadow: -5px 5px 0px #ff7f50, 5px -5px 0px #ff6348; */
    margin-bottom: 32px;
    /* text-shadow: 1px 0px #e17055, -1px 0px #e17055, 0px 1px #e17055, 0px -1px #e17055; */
    /* text-align: left; */
    /* font-family: monospace; */
}

.gametitle::before {
    content: 'Games nobody asked for:';
    color: #2d3436;
    font-size: 28px;
    position: absolute;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu li {
    list-style: none;
    margin-bottom: 16px;
    height: 50px;
}

.menu-button {
    width: 128px;
    color: 2d3436;
    font-size: 32px;
    margin: auto;
    display: block;
    border: none;
}
