body {
  background-color: #222;
}

.bar {
    background: #121212;
}

.loader {
    background-color: #121212;
}

.loader-box {
    background: #121212;
    border: 1px solid #03dac6;
    color: #03dac6;
}

.progress {
    background: #03dac6;
    color: #fff;
}

* {
  font-family: Staatliches, sans-serif;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: black;
}

button {
  background: #121212;
  border: 1px solid #03dac6;
  border-radius: 4px;
  height: 40px;
  width: 96px;
  color: #03dac6;
  font-size: 20px;
  display: inline-block;
  margin-right: 4px;
}

button.clear:hover,
button.clear:active {
  cursor: pointer;
  background: #bb86fc;
  color: #121212;
}

button.start:hover,
button.start:active {
  cursor: pointer;
  background: #03dac6;
  color: #121212;
}

button.clear {
  border: 1px solid #bb86fc;
  color: #bb86fc;
}
