body {
  background-color: #222;
}

.bar {
    background: #121212;
}

.loader {
    background-color: #121212;
}

.loader-box {
    background: #121212;
    border: 1px solid #03dac6;
    color: #03dac6;
}

.progress {
    background: #03dac6;
    color: #fff;
}

* {
  font-family: Anton, sans-serif;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
}

.gametitle {
    font-size: 128px;
    text-align: center;
    color: transparent;
    text-transform: uppercase;
    text-shadow: -5px 5px 0px #ff7f50, 5px -5px 0px #ff6348;
    margin-bottom: 32px;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu li {
    list-style: none;
    margin-bottom: 16px;
    height: 40px;
}

.menu-button {
  background: #121212;
  border: 1px solid #03dac6;
  border-radius: 4px;
  width: 96px;
  color: #03dac6;
  font-size: 20px;
  display: inline-block;
  margin: auto;
  display: block;
}
